.inputForm {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: inset 0px 3px 5px 0px rgba(0, 0, 0, 0.4),
    inset 0px 0px 7px 8px rgba(185, 184, 184, 0.4);
  padding: 10px;
  margin: 7px 0;
  z-index: 10;
}

input:hover,
textarea:hover {
  filter: brightness(115%);
  border-color: #61dafb;
}

input:active,
textarea:active {
  filter: brightness(115%);
  border-color: #61dafb;
}

input:focus,
textarea:focus {
  outline: none;
  border-color: #61dafb;
}

.label {
  display: flex;
  justify-content: space-between;
}

.errorMessage {
  font-size: 0.8rem;
  color: #fc929e;
  align-self: flex-end;
}
