.title {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.inputs {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 31rem 31rem;
  grid-template-rows: 30rem 17rem;
  grid-gap: 10px;
}

.buttons {
  grid-column: 2/3;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

img {
  padding: 10rem 0;
  width: 500px;
}

.fields {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
}

.App-logo {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Applogo {
    animation: Applogospin infinite 18s linear;
  }
}
@keyframes Applogospin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.inputFields {
  display: grid;
  grid-template-columns: 15.5rem 15.5rem;
  grid-template-rows: 5rem 5rem 5rem;
  grid-gap: 10px;
}

.header {
  color: #61dafb;
}
